{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-price.html.twig' %}

{% block buy_widget_price_content %}
    {% if page.product.translated.customFields.academy_product_black_friday is not same as(true) %}
        {{ parent() }}
    {% else %}
        {# From SW Core, but apadpted at some place #}
        {% set listPrice = price.listPrice %}
        {% set isListPrice = price.listPrice.percentage > 0 %}
        {% set isRegulationPrice = price.regulationPrice != null %}

        <div class="container">
            <div class="row">
                <div class="col-12 p-0 product-detail-price{% if isListPrice %} with-list-price{% endif %}{% if isRegulationPrice %} with-regulation-price{% endif %}">
                    {{ price.unitPrice|currency }}
                </div>

                {% if isListPrice %}
                    {% block buy_widget_was_price %}
                        {% block buy_widget_was_price_badge %}
                            {% if product.translated.customFields.academy_product_black_friday is not same as(true) %}
                                {{ parent() }}
                            {% endif %}
                        {% endblock %}

                        {% set afterListPriceSnippetExists = 'listing.afterListPrice'|trans|length > 0 %}
                        {% set beforeListPriceSnippetExists = 'listing.beforeListPrice'|trans|length > 0 %}

                        {% block buy_widget_was_price_wrapper %}
                            {% if product.translated.customFields.academy_product_black_friday is not same as(true) %}
                                {{ parent() }}
                            {% else %}
                                {# Adapted #}
                                <div class="col-12 p-0 product-detail-list-price-wrapper">
                                    <span class="list-price-percentage fw-bold">-{{ listPrice.percentage|round(0, 'floor') }}%</span>

                                    {% if beforeListPriceSnippetExists %}{{ 'listing.beforeListPrice'|trans|trim }}{% endif %}

                                    <span{% if not (afterListPriceSnippetExists or beforeListPriceSnippetExists) %} class="list-price-price"{% endif %}>{{ listPrice.price|currency }}</span>

                                    {% if afterListPriceSnippetExists %}
                                        {{ 'listing.afterListPrice'|trans|trim }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                {% endif %}
                {% if isRegulationPrice %}
                    <span class="product-detail-list-price-wrapper">
                        <span class="regulation-price">
                            {{ 'general.listPricePreviously'|trans({'%price%': price.regulationPrice.price|currency }) }}
                        </span>
                    </span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}