{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_main_price %}
    {% if product.translated.customFields.academy_product_black_friday is not same as(true) %}
        {{ parent() }}
    {% else %}
        <div class="academy-black-friday-price-wrapper d-inline-flex align-self-stretch flex-wrap" data-testid="campaign-product-price">
            <span class="badge badge-discount rounded-pill ">
                -{{ price.listPrice.percentage|round(0, 'floor') }}%
            </span>

            <div class="product-price{% if isListPrice and not displayFrom and not displayFromVariants %} with-list-price{% endif %}">
                {{ price.unitPrice|currency }}

                {# From SW-Core #}
                {% if isListPrice and not displayFrom and not displayFromVariants %}
                    {% set afterListPriceSnippetExists = 'listing.afterListPrice'|trans|length > 0 %}
                    {% set beforeListPriceSnippetExists = 'listing.beforeListPrice'|trans|length > 0 %}
                    {% set hideStrikeTrough = beforeListPriceSnippetExists or afterListPriceSnippetExists %}

                    <span class="list-price{% if hideStrikeTrough %} list-price-no-line-through{% endif %}">

                        {% if beforeListPriceSnippetExists %}{{ 'listing.beforeListPrice'|trans|trim|sw_sanitize }}{% endif %}

                        <span class="visually-hidden list-price-label">{{ 'listing.regularPriceLabel'|trans|sw_sanitize }}</span>

                        <span class="list-price-price">{{ price.listPrice.price|currency }}</span>

                        {% if afterListPriceSnippetExists %}{{ 'listing.afterListPrice'|trans|trim|sw_sanitize }}{% endif %}
                    </span>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
